@media(max-width:992px){
    .container{
        flex-flow: column;
        padding: 20px;
    }
    header{
        padding: 20px;
    }
    header>nav>ul>li{
        display: block;
       text-align: center;
    }
    .banner{
        background: url(../images/mobile.jpg);
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:993px) and (max-width:1200px){
    .container{
        padding: 0px 30px 0px 30px;
    }
    header{
        flex-direction: column !important;
        justify-content: center;
        padding: 20px !important;
    }
    .banner{
        background: url(../images/content.jpg);
    }
}