*{
    padding: 0%;
    margin: 0%;
}
:root{
    --bg-color : #0c3c60;
    --font-color: #fff;
    --footer-bg-color: #072136;
}
/* FLEX-LAYOUT  */
.container{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
/* HEADER CODE */
header{
    background-color: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    padding: 0px 70px 0px 70px;
}
header>nav>ul{
    list-style: none;
}
header>nav>ul>li{
    display: inline-block;
    padding: 20px;
}
header>nav>ul>li:hover{
    background-color: var(--font-color);
}
header>nav>ul>li>a{
    color: inherit;
    text-decoration: none;
}
header>nav>ul>li:hover a{
    color: var(--bg-color);
}
/* BANNER */
.banner{
    background: url(../images/banner.jpg) no-repeat center;
    background-size: 100%;
    height: 500px;
    align-items: end;
    justify-content: center;
}
.banner>div{
    background-color: var(--font-color);
    display: inline-block;
    padding: 30px;
    text-align: center;
    line-height: 2;
}
.banner>div>p{font-size: 25px;}
.banner>div>h1{font-size: 50px;}
.btn{
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid var(--bg-color);
    transition: 1s;
    margin: 30px;
}
.btn:hover{
    background-color: var(--bg-color);
    color: var(--font-color);
}
.title{font-size: 30px; margin: 30px; text-align: center;}
/* CARD */
.card, .aboutUs, .ourClients, .testimonials, .contact, footer{padding: 75px;}
.card>.item, .aboutUs>.item, .ourClients .item, .contact .item{
    flex: 1;
    padding: 20px;
    line-height: 2;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.card>.item:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ABOUT US */
.aboutUs{
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)) ,url(../images/content.jpg) no-repeat center;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}
/* OUR CLIENTS */
.ourClients{
    text-align: center;
}
.ourClients [class*="fa-"]{
    color: grey;
    transition: 1s;
}
.ourClients [class*="fa-"]:hover{
    color: var(--bg-color);
    transform: scale(1.1);
}
/* TESTIMONIALS */
.testimonials{
    background-color: #F7F7F7;
}
.swiper-slide{
    line-height: 2;
    text-align: center;
}
.swiper-slide cite{
    font-weight: bold;
    font-size: 20px;
}
.swiper-pagination{
    margin-top: 50px;
}
/* CONTACT */
.contact{
    background-color: var(--bg-color);
    color: var(--font-color);
}
.contact input, .contact textarea{
    width: 100%;
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    margin-bottom: 20px;
    padding: 10px;
    color: inherit;
    outline: none;
    transition: 1s ease-in-out;
}
.contact input:focus, .contact textarea:focus{
    background-color: #fff;
    color: #0c3c60;
}
.contact>form>div>div>button{
    padding: 15px 20px;
    width: 100%;
    color: var(--bg-color);
    font-weight: bold;
    border: 1px solid var(--bg-color);
    transition: 1s;
}
.contact>form>div>div>button:hover{
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
}
.contact>form>.item{
    text-align: left;
}
/* FOOTER */
footer{
    background-color: var(--footer-bg-color);
    color: var(--font-color);
    text-align: center;
}